.hero-header {
    background: var(--hero-bg-light);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

[data-theme="dark"] .hero-header {
    background: var(--hero-bg-light);
    background-image: url('../medias/gradient.png'), linear-gradient(to bottom, var(--hero-bg-light), var(--color-bg));
    background-blend-mode: overlay;
}

/* Met les les textes dans hero-header a un z index de 3*/
.hero-header h1, .hero-header p, .hero-header a{
    z-index: 3;
}

.backwrap {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.back-shapes {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.floating {
    position: absolute;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.floating.letter {
    font-size: 40px;
    color: var(--color-text);
    opacity: 0.8;
}

/* Animation */
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


.kpi-banner .kpi {
    flex: 1 1 30%;
    margin: 0 3rem;
}

.kpi h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    animation: count 2s ease-in-out forwards;
}

.ripple-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: var(--color-circle);
    animation: ripple 15s infinite;
    box-shadow: 0 0 1px 0 #508fb9;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    top: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    top: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    top: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    top: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}

.content-page {
    background-color: var(--hero-bg-light);
    padding: 2rem;
}

@media (max-width: 767.98px) {
    .content-liste-lecture {
        display: flex;
        flex-direction: column;
    }
}

.grid-view .card {
    max-width: 25rem;
    flex: 1 1 calc(33.333% - 1rem);
}

.list-view .card {
    flex: 1 1 100%;
    display: flex;
    text-align: left;
}

.list-view .card-body {
    padding: 1rem;
    flex: 1;
}

.card .badge {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content-liste-lecture {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.hero-liste-lecture {
    margin-top: 2rem;
}

.header-liste-lecture h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.hero-liste-lecture.completed {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.hero-liste-lecture.completed .card {
    display: inline-block;
    width: 300px;
    margin-right: 1rem;
}

.hero-liste-lecture.completed .content-liste-lecture {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.hero-liste-lecture.completed::before,
.hero-liste-lecture.completed::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.hero-liste-lecture.completed::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hero-liste-lecture.completed::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

[data-theme="dark"] .hero-liste-lecture.completed::before {
    background: linear-gradient(to right, rgba(41, 41, 41, 1), rgba(41, 41, 41, 0));
}

[data-theme="dark"] .hero-liste-lecture.completed::after {
    background: linear-gradient(to left, rgba(41, 41, 41, 1), rgba(41, 41, 41, 0));
}

.kpi-banner .kpi {
    flex: 1;
}

.kpi h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    animation: count 2s ease-in-out forwards;
}

@keyframes count {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}