/* Styles généraux */
:root {
    --color-bg: #FFFFFF;
    --color-text: #000000;
    --card-bg: #f8f9fa;
}

[data-theme="dark"] {
    --color-bg: #292929;
    --color-text: #FFFFFF;
    --card-bg: #343a40;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

.btn-group .btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-toolbar {
    margin-bottom: 1rem;
}

.card {
    background-color: var(--card-bg);
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.badge {
    margin-top: 0.5rem;
}

/* Styles pour base.html */

/* Styles pour home.html */
.grid-view .card {
    max-width: 20rem;
    flex: 1 1 calc(33.333% - 1rem);
}

.list-view .card {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}

.list-view .card-body {
    padding: 1rem;
    flex: 1;
}

.content-liste-lecture {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.hero-liste-lecture {
    margin-top: 2rem;
}

.header-liste-lecture h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.hero-liste-lecture.completed {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.hero-liste-lecture.completed .card {
    display: inline-block;
    width: 300px;
    margin-right: 1rem;
}

.hero-liste-lecture.completed .content-liste-lecture {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.hero-liste-lecture.completed::before,
.hero-liste-lecture.completed::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.hero-liste-lecture.completed::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.hero-liste-lecture.completed::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

[data-theme="dark"] .hero-liste-lecture.completed::before {
    background: linear-gradient(to right, rgba(41, 41, 41, 1), rgba(41, 41, 41, 0));
}

[data-theme="dark"] .hero-liste-lecture.completed::after {
    background: linear-gradient(to left, rgba(41, 41, 41, 1), rgba(41, 41, 41, 0));
}