{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.person.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        // Initialisation du tooltip
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>

    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="hero-header">
        <h1>{{ user.person.name }}</h1>
        <h3 class="me-3">Niveau 1</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="content-page mb-2">
        <div class="progress mb-2" style="height: 25px; position: relative;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 0%;" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100">
                60%
            </div>

            <!-- Bouton de tooltip placé à droite de la barre de progression -->
            <button type="button" class="btn btn-secondary btn-sm" style="position: absolute; right: 0; top: -5px;"
                    data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Il vous manque 200 XP pour atteindre le prochain niveau.">
                ?
            </button>
        </div>
        <small class="text-muted">Bientôt : Votre niveau disponible sur votre profil</small>
    </div>

    <div class="content-page">
        <div class="hero-liste-lecture mb-4">
            <div class="header-liste-lecture">
                <h2 class="h2">Sessions créées</h2>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date limite</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if user_sessions %}
                        {% for session in user_sessions %}
                            <tr>
                                <td>{{ session.name }}</td>
                                <td>{{ session.description }}</td>
                                <td>{{ session.date_limit }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-sm" title="Modifier"
                                            data-bs-toggle="modal" data-bs-target="#editSessionModal"
                                            data-session-id="{{ session.id }}" data-session-name="{{ session.name }}"
                                            data-session-description="{{ session.description }}"
                                            data-session-date="{{ session.formatted_date_limit }}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" title="Supprimer"
                                            onclick="deleteSession({{ session.id }})">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Cette fonctionnalité sera bientôt disponible.">
                                        <i class="fas fa-envelope"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">Vous n'avez créé aucune session.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="hero-liste-lecture">
            <div class="header-liste-lecture">
                <h2 class="h2">Sessions où vous avez réservé</h2>
            </div>

            <div class="accordion" id="reservedSessionsAccordion">
                {% for session in reserved_sessions %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingReserved{{ session.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseReserved{{ session.id }}" aria-expanded="false"
                                    aria-controls="collapseReserved{{ session.id }}">
                                {{ session.name }} - {{ session.date_limit }}
                            </button>
                        </h2>
                        <div id="collapseReserved{{ session.id }}" class="accordion-collapse collapse"
                             aria-labelledby="headingReserved{{ session.id }}"
                             data-bs-parent="#reservedSessionsAccordion">
                            <div class="accordion-body">
                                <div class="d-flex justify-content-between">
                                    <p>{{ session.description }}</p>
                                    <a class="btn btn-primary" href="{% url 'session_detail' session.slug %}">A la
                                        session <i class="fas fa-arrow-right"></i></a>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Texte</th>
                                        <th scope="col">Perek</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for text_study, reservations in session.grouped_reservations.items %}
                                        <tr>
                                            <td>{{ text_study.name }}</td>
                                            <td>
                                                {% for reservation in reservations %}
                                                    <button type="button"
                                                            class="btn {% if reservation.is_completed %}btn-success{% else %}btn-outline-success{% endif %} btn-sm"
                                                            title="{% if reservation.is_completed %}Marquer comme non lu{% else %}Confirmer la lecture{% endif %}"
                                                            onclick="{% if reservation.is_completed %}showUnmarkModal({{ reservation.id }}){% else %}confirmReading({{ reservation.id }}){% endif %}">
                                                        Perek {{ reservation.section }}
                                                        {% if reservation.is_completed %}
                                                            <i class="fas fa-check"></i>
                                                        {% endif %}
                                                    </button>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Vous n'avez réservé aucune session.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editSessionModal" tabindex="-1" aria-labelledby="editSessionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSessionModalLabel">Modifier la session</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editSessionForm">
                        <div class="mb-3">
                            <label for="editSessionName" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="editSessionName" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="editSessionDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="editSessionDescription" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="editSessionDate" class="form-label">Date limite</label>
                            <input type="date" class="form-control" id="editSessionDate" name="date_limit">
                        </div>
                        <input type="hidden" id="editSessionId" name="session_id">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmUnmarkModal" tabindex="-1" aria-labelledby="confirmUnmarkModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmUnmarkModalLabel">Confirmer l'action</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir marquer ce perek comme non lu ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="confirmUnmarkButton">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}