{% extends 'base.html' %}

{% block title %}Accueil - GemaraChain{% endblock %}

{% block css %}
    <!-- Ajoutez des liens CSS spécifiques à cette page -->
{% endblock %}

{% block scripts %}
    <!-- Ajoutez des scripts JS spécifiques à cette page -->
{% endblock %}

{% block content %}
    <h1 class="display-1">Gemara Chain 📖</h1>
    <p>Créer une chaine d'étude de guemara !</p>

    <div class="hero-liste-lecture">
        <div class="header-liste-lecture">
            <h2 class="h2">Les lectures en cours</h2>
        </div>

        <div class="content-liste-lecture d-flex">

            <div class="card m-3" style="width: 30rem;">
                <a href="#" style="text-decoration: none">
                    <div class="card-body">
                        <h5 class="h5 card-title">Nom de la session</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Nom créateur session</h6>
                        <p class="card-text">Raison pour laquel la session a été créer ?</p>
                    </div>
                </a>
            </div>

            <div class="card m-3" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Nom de la session</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Nom créateur session</h6>
                    <p class="card-text">Raison pour laquel la session a été créer ?</p>
                </div>
            </div>

            <div class="card m-3" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Nom de la session</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Nom créateur session</h6>
                    <p class="card-text">Raison pour laquelle la session a été créer ?</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
