{% extends 'base.html' %}
{% load static %}

{% block title %}GemaraChain - Créez des chaines de Gemara facilement{% endblock %}

{% block keywords %}Gemara, Talmud, Mishna, étude, Torah, Judaïsme, chaine, partage{% endblock %}

{% block description %}Créez des chaines d'étude de Gemara ou de Mishna simplement et partagez-les à vos
    proches.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function animateValue(id, start, end, duration) {
                const obj = document.getElementById(id);
                const range = end - start;
                let startTime = null;

                function step(timestamp) {
                    if (!startTime) startTime = timestamp;
                    const progress = Math.min((timestamp - startTime) / duration, 1);
                    obj.innerText = Math.floor(progress * range + start);
                    if (progress < 1) {
                        window.requestAnimationFrame(step);
                    }
                }

                window.requestAnimationFrame(step);
            }

            animateValue('open-sessions', 0, {{ total_ongoing_sessions }}, 2000);
            animateValue('participants', 0, {{ total_participants }}, 2000);
            animateValue('completed-sessions', 0, {{ total_completed_sessions }}, 2000);
        });
    </script>
{% endblock %}

{% block header %}
    <div class="hero-header text-center">
        <div class="backwrap gradient">
            <div class="back-shapes">
                <span class="floating letter" style="top:10vh;left:5%;animation-delay:-0.9s;">א</span>
                <span class="floating letter" style="top:20vh;left:15%;animation-delay:-4.8s;">ב</span>
                <span class="floating letter" style="top:30vh;left:10%;animation-delay:-4s;">ג</span>
                <span class="floating letter" style="top:40vh;left:8%;animation-delay:-2.8s;">ד</span>
                <span class="floating letter" style="top:50vh;left:12%;animation-delay:-2.15s;">ה</span>
                <span class="floating letter" style="top:15vh;left:18%;animation-delay:-1.9s;">ו</span>
                <span class="floating letter" style="top:25vh;left:20%;animation-delay:-0.65s;">ז</span>
                <span class="floating letter" style="top:35vh;left:3%;animation-delay:-0.4s;">ח</span>
                <span class="floating letter" style="top:45vh;right:5%;animation-delay:-4.1s;">ט</span>
                <span class="floating letter" style="top:5vh;right:15%;animation-delay:-3.65s;">י</span>
                <span class="floating letter" style="top:25vh;right:10%;animation-delay:-2.25s;">כ</span>
                <span class="floating letter" style="top:35vh;right:8%;animation-delay:-2s;">ל</span>
                <span class="floating letter" style="top:45vh;right:12%;animation-delay:-1.55s;">מ</span>
                <span class="floating letter" style="top:10vh;right:18%;animation-delay:-0.95s;">נ</span>
                <span class="floating letter" style="top:20vh;right:20%;animation-delay:-4.45s;">ס</span>
                <span class="floating letter" style="top:30vh;right:3%;animation-delay:-3.35s;">ע</span>
            </div>
        </div>
        <h1 class="display-1">Chaine de lecture 📖</h1>
        <p>Créer une chaîne d'étude de guemara ou de Michna simplement et partagez-la à vos proches.</p>
        <a href="{% url 'create_session' %}" class="btn btn-success btn-lg shadow-sm rounded-pill">Créer une chaine de
            lecture</a>
        <div class="kpi-banner d-none d-md-flex justify-content-around text-center my-5">
            <div class="kpi">
                <h2 class="display-4" id="open-sessions">{{ total_ongoing_sessions }}</h2>
                <p>Sessions ouvertes</p>
            </div>
            <div class="kpi">
                <h2 class="display-4" id="participants">{{ total_participants }}</h2>
                <p>Participants</p>
            </div>
            <div class="kpi">
                <h2 class="display-4" id="completed-sessions">{{ total_completed_sessions }}</h2>
                <p>Sessions terminées</p>
            </div>
        </div>

        <div class="ripple-background">
            <div class="circle xxlarge shade1"></div>
            <div class="circle xlarge shade2"></div>
            <div class="circle large shade3"></div>
            <div class="circle medium shade4"></div>
            <div class="circle small shade5"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content-page mb-5">
        <div class="mb-4">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group d-md-none" role="group" aria-label="Filtre type de session">
                    <select class="form-select" onchange="location = this.value;">
                        <option value="?type=all&display={{ display_type }}"
                                {% if session_type == 'all' %}selected{% endif %}>
                            Toutes
                        </option>
                        {% for type in text_study_types %}
                            <option value="?type={{ type.name }}&display={{ display_type }}"
                                    {% if session_type == type.name %}selected{% endif %}>
                                {{ type.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="btn-group btn-group d-none d-md-flex" role="group" aria-label="Filtre type de session">
                    <a href="?type=all&display={{ display_type }}"
                       class="btn btn-outline-primary {% if session_type == 'all' %}active{% endif %}">
                        <i class="bi bi-list-ul"></i> Toutes
                    </a>
                    {% for type in text_study_types %}
                        <a href="?type={{ type.name }}&display={{ display_type }}"
                           class="btn btn-outline-primary {% if session_type == type.name %}active{% endif %}">
                            <i class="bi bi-book"></i> {{ type.name }}
                        </a>
                    {% endfor %}
                </div>
                <div class="btn-group btn-group d-none d-md-flex" role="group" aria-label="Type d'affichage">
                    <button onclick="toggleView('grid')"
                            class="btn btn-outline-secondary {% if display_type == 'grid' %}active{% endif %}">
                        <i class="bi bi-grid-3x3-gap-fill"></i> Grille
                    </button>
                    <button onclick="toggleView('list')"
                            class="btn btn-outline-secondary {% if display_type == 'list' %}active{% endif %}">
                        <i class="bi bi-list-task"></i> Liste
                    </button>
                </div>
            </div>
        </div>

        <div class="hero-liste-lecture">
            <div class="header-liste-lecture d-flex justify-content-between align-items-center">
                <h2>Les lectures en cours</h2>
            </div>

            <div class="content-liste-lecture {% if display_type == 'grid' %}grid-view{% else %}list-view{% endif %}">
                {% for session in ongoing_sessions %}
                    <div class="card position-relative">
                        <a href="{% url 'session_detail' session.slug %}" style="text-decoration: none">
                            <div class="card-body">
                                <h5 class="card-title">{{ session.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Créateur: {{ session.person }}</h6>
                                <p class="card-text">{{ session.description }}</p>
                                <p class="card-text">{{ session.date_limit }}</p>
                                <span class="badge bg-primary">{{ session.type.name }}</span>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <p>Aucune session en cours.</p>
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="hero-liste-lecture completed">
            <div class="header-liste-lecture text-center mb-4">
                <h3 class="h3">Les lectures terminées</h3>
                <p class="fst-italic">Bravo à vous</p>
            </div>

            <div class="content-liste-lecture lecture-completed">
                {% for session in completed_sessions %}
                    <div class="card">
                        <a href="{% url 'session_detail' session.slug %}" style="text-decoration: none">
                            <div class="card-body">
                                <h5 class="card-title">{{ session.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Créateur: {{ session.person }}</h6>
                                <p class="card-text">{{ session.description }}</p>
                                <p class="card-text">{{ session.date_limit }}</p>
                                <span class="badge bg-primary">{% if session.session_is %}Mishna{% else %}
                                    Gemara{% endif %}</span>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <p>Aucune session terminée.</p>
                {% endfor %}
            </div>
        </div>

        <div class="hero-liste-lecture">
            <div class="header-liste-lecture text-center mb-4">
                <h3 class="h3">Annonces en cours</h3>
            </div>

            {% if active_announcements %}
                <div class="alert alert-info text-center mt-3 mb-0 position-relative" role="alert">
                    <ul class="list-unstyled">
                        {% for annonce in active_announcements %}
                            <li>
                                <strong>{{ annonce.titre }}</strong>: {{ annonce.description }}
                                {% if annonce.lien %}
                                    - <a href="{{ annonce.lien }}" target="_blank">En savoir plus</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
