{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ session.name }}{% endblock %}

{% block keywords %}Gemara, Talmud, Mishna, étude, Torah, Judaïsme, chaine, partage{% endblock %}

{% block description %}Rejoignez la session d'étude {{ session.name }} et réservez des sections ou des
    textes.{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/sessions.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sessions.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="hero-header text-center">
        <h1 class="display-3">{{ session.name }}</h1>
        <p>Session créée par : {{ session.person }}</p>
        <p>{{ session.description }}</p>
        <p>Date limite: {{ session.date_limit }}</p>
    </div>
{% endblock %}

{% block content %}
    {% if is_expired %}
        <div class="alert alert-danger" role="alert">
            Cette session est expirée et vous ne pouvez plus effectuer de réservations.
        </div>
    {% endif %}

    <div class="content-page mb-5 sticky-container">
        <form method="post">
            {% csrf_token %}

            <div class="row mb-4 sticky-top form-reservation">
                {% if not user.is_authenticated %}
                    {% if not is_expired %}
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="guest_name">Nom</label>
                                <input type="text" class="form-control" id="guest_name" name="guest_name" required>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="guest_email">Email</label>
                                <input type="email" class="form-control" id="guest_email" name="guest_email" required
                                       data-bs-toggle="popover" data-bs-trigger="focus" title="Information sur l'email"
                                       data-bs-placement="top"
                                       data-bs-content="Votre email ne sera pas utilisé à des fins commerciales. Il servira uniquement à vous prévenir de la date limite de la session.">
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="d-flex align-items-end
                {% if not user.is_authenticated %}col-md-2{% else %}col-md-12{% endif %}">
                    <button type="submit" class="btn btn-primary w-100" {% if is_expired %}disabled{% endif %}>
                        Réserver
                    </button>
                </div>
            </div>

            <div class="mb-3">
                <small>
                    Cochez les cases pour réserver une section ou un texte. Si vous avez déjà réservé une section ou un
                    texte, vous pouvez le décocher pour annuler votre réservation (si vous avez un compte).
                    Cliquez sur la carte du texte pour voir les sections disponibles.
                </small>
            </div>

            <div class="row">
                {% for livre, text_studies in livre_dict.items %}
                    <div class="col-12">
                        <h3>{{ livre }}</h3>
                    </div>
                    {% for item in text_studies %}
                        <div class="col-md-4">
                            <div class="card mb-4 card-lecture">
                                <div class="card-body position-relative">
                                    <div class="form-check">
                                        {% if not item.sections_by_perek|all_reserved %}
                                            <input class="form-check-input" type="checkbox"
                                                   id="text_study_{{ item.text_study.pk }}"
                                                   name="text_studies" value="{{ item.text_study.pk }}"
                                                   {% if item.reserved_by_user %}checked{% endif %}
                                                   {% if item.reserved and not item.reserved_by_user or is_expired %}disabled{% endif %}
                                                   onchange="togglePerekSelection('{{ item.text_study.pk }}', this.checked)">
                                        {% endif %}
                                        <label class="form-check-label" for="text_study_{{ item.text_study.pk }}">
                                            <a href="{{ item.text_study.link }}" style="text-decoration: none"
                                               target="_blank">{{ item.text_study.name }}</a>
                                            {% if item.sections_by_perek|all_reserved %}
                                                <span class="text-danger">Réservé par
                                                    {% with item.sections_by_perek|unique_names as unique_names %}
                                                        {% for name in unique_names %}
                                                            {{ name }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    {% endwith %}
                                                </span>
                                            {% else %}
                                                {% if item.sections_by_perek|length > 0 %}
                                                    <span class="text-warning">En cours</span>
                                                {% endif %}
                                            {% endif %}
                                        </label>

                                        <div id="perek_list_{{ item.text_study.pk }}" class="perek-list"
                                             style="display:none;">
                                            <div class="ml-3">
                                                {% for section in item.sections_by_perek %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"
                                                               id="section_{{ item.text_study.pk }}-{{ section.section }}"
                                                               name="sections"
                                                               value="{{ item.text_study.pk }}-{{ section.section }}"
                                                               {% if section.reserved_by_user %}checked{% endif %}
                                                               {% if section.reserved and not section.reserved_by_user or is_expired %}disabled{% endif %}
                                                               onchange="toggleMainCheckbox('{{ item.text_study.pk }}')">
                                                        <label class="form-check-label"
                                                               for="section_{{ item.text_study.pk }}-{{ section.section }}">
                                                            Perek {{ section.section }}
                                                            {% if section.reserved %}
                                                                <span class="{% if section.is_completed %}text-success{% endif %}">
                                                                    {% if section.is_completed %}Lu par{% else %}Réservé par{% endif %} {{ section.chosen_by_username }}
                                                                </span>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse-icon" style="display: none; cursor:pointer;">&#9650;</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </form>
        <div class="text-center mt-5">
            <a href="{% url 'home' %}" style="text-decoration: none">Créer votre propre session en cliquant ici</a>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="content-page">
            <div class="hero-header">
                <h3>Pourquoi se créer un compte ?</h3>
                <div class="text-start">
                    <p>Créer un compte vous permet de :</p>
                    <ul>
                        <li>Créer des sessions d'études</li>
                        <li>Rejoindre des sessions d'études</li>
                        <li>Connaître les dates limites des sessions d'études</li>
                    </ul>
                    <a href="{% url 'signup' %}" class="btn btn-primary">Créer un compte</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}