{% extends 'base.html' %}

{% block title %}{{ session.name }}{% endblock %}

{% block css %}
    <!-- Ajoutez des liens CSS spécifiques à cette page -->
{% endblock %}

{% block scripts %}
    <!-- Ajoutez des scripts JS spécifiques à cette page -->
{% endblock %}

{% block content %}
    <h1 class="display-1">{{ session.name }}</h1>
    <p>Créateur: {{ session.person }}</p>
    <p>{{ session.description }}</p>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for item in gemarot_list %}
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gemarot_{{ item.gemara.pk }}" name="gemarot" value="{{ item.gemara.pk }}"
                            {% if item.reserved_by_user %}
                                checked
                            {% endif %}
                            {% if item.reserved and not item.reserved_by_user %}
                                disabled
                            {% endif %}>
                            <label class="form-check-label" for="gemarot_{{ item.gemara.pk }}">
                                {{ item.gemara.name }}
                                
                                {% if item.reserved %}
                                    <span style="color: red; font-weight: bold;">
                                        (Réservé par {{ item.chosen_by_username }})
                                    </span>
                                {% endif %}
                            </label>
                        </div>
                    </div>
        
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
        
    </div>
{% endblock %}
