name: CI/CD Checks

on:
  pull_request:
    branches:
      - staging
      - main
  push:
    branches:
      - main

jobs:
  verify:
    uses: ./.github/workflows/verify.yml

  deploy-staging:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: verify
    uses: ./.github/workflows/deploy.yml
    with:
      environment: staging
    secrets: inherit
